<template>
  <div class="">
    {{ data }}
  </div>
</template>

<script>


export default {
  name: 'DatatableItemtext',
  props: {
    data: String,
  },
  data: function() {
    return {

    };
  },
  components: {

  },
  computed: {

  },
  methods: {

  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
