<template>

    <component :is="itemComponent()" :data="data">

    </component>

</template>

<script>

import components from "@/datatable"

export default {
  name: 'DatatableItem',
  props: {
    item: Object,
    column: Object,
  },
  data: function() {
    return {

    };
  },
  components: {
    ...components
  },
  computed: {
    data() {
      return this.item.data && this.item.data.get(this.column[0])
    }
  },
  methods: {
    itemComponent() {
      return "DatatableItem" + this.column[1].type;
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


.tickbefore::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: 50%;
  height: 0.5rem;
  width: 1px;
  background-color: white;
}

</style>
