<template>
  <div class="">
    {{ locationstring }}
    <div v-if="data" class="text-xs text-gray-800">({{ data.source }})</div>
  </div>
</template>

<script>


export default {
  name: 'DatatableItemlocation',
  props: {
    data: Object,
  },
  data: function() {
    return {

    };
  },
  components: {

  },
  computed: {
    locationstring() {
      if(!this.data) return "";
      return this.data.ll[0].toFixed(4) + " " + this.data.ll[1].toFixed(4);
    }
  },
  methods: {

  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
