<template>
  <div class="dark h-full w-full main-grid dark:bg-gray-800 dark:text-white">
    <div style="grid-area: header;" class="w-full flex flex-row bg-gray-100 dark:bg-gray-800 border-b border-gray-400 items-center relative sticky top-0 z-50">
      <div :class="[isSaving ? 'opacity-100' : 'opacity-0']" class="text-red-300">Saving...</div>
      <div :class="[isLoading ? 'opacity-100' : 'opacity-0']" class="text-red-300">Loading data...</div>
      <div class="flex-1"></div>
      <div class="text-gray-600 px-4 cursor-pointer rounded transition-background duration-300 ease-in-out hover:bg-gray-400" @click="previousWeek">&lt;&lt;</div>
      <div class="px-4 text-center">
        <div>GISMapper</div>
      </div>
      <div class="text-gray-600 px-4 cursor-pointer rounded transition-background duration-300 ease-in-out hover:bg-gray-400" @click="nextWeek">&gt;&gt;</div>
      <div class="flex-1"></div>
      <div v-if="user">Logged in as {{ user.name }} ({{ user.username }})</div>
      <div v-if="user">
        <img @click="showmenu = !showmenu" class="h-8 w-8 m-2 rounded-full" :src="user.avatar_url">

        <div v-if="showmenu" class="origin-top-right absolute right-0 border rounded bg-white shadow">
          <a @click="reloadData" href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Refresh</a>
          <a href="logout.php" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Logout</a>
        </div>
      </div>

    </div>


    <div style="grid-area: processing;" class="overflow-y-scroll" v-if="datasource">
      <div class="m-2 p-2 border rounded-sm dark:bg-gray-700 dark:border-gray-200">
        <div>Dataset: {{ datasource.name }}</div>
        <div>Type: {{ datasource.type }}</div>
        <div>
          <textarea class="dark:text-black whitespace-nowrap w-full">
            {{ datasource.text }}
          </textarea>
        </div>
      </div>


      <draggable v-model="flowsteps" item-key="id" v-if="flow">

        <template #item="{ element }">
          <FlowStep  :step="element" :executedstep="processeddata && processeddata.executedsteps[element.id]"></FlowStep>
        </template>

      </draggable>

    </div>


    <div style="grid-area: input;" class="overflow-y-scroll">
      Processed data:
      <pre>{{ processeddata }}</pre>
    </div>

    <div style="grid-area: map;" class="">
      <MapView :elements="geojson"></MapView>
    </div>

    <div style="grid-area: table;" class="overflow-y-scroll">

      <vue-scrolling-table v-if="processeddata">
        <template #thead>
          <tr>
            <th style="max-width: 20rem; width: 20rem;">Source</th>
            <th v-for="col in processeddata.columns"
                :class="col.cssClasses"
                :key="col.id">{{ col[0] }}</th>
            <th>Elements</th>
          </tr>

        </template>
        <template #tbody>

          <tr v-for="item in processeddata.items">
            <td style="max-width: 20rem; width: 20rem;" class="font-mono">{{ item.source }}</td>
            <td v-for="col in processeddata.columns">
              <DatatableItem :item="item" :column="col"></DatatableItem>
            </td>
            <td>

            </td>
          </tr>

        </template>

      </vue-scrolling-table>



    </div>

  </div>
</template>

<script>

import MapView from "./MapView";
import VueScrollingTable from "vue-scrolling-table"
import "vue-scrolling-table/dist/style.css"
import draggable from "vuedraggable";
import { mapGetters } from 'vuex';
import FlowStep from "@/steps/FlowStep";
import DatatableItem from "../datatable/DatatableItem";

export default {
  name: 'App',
  computed: {
    processeddata() {
      console.log("Recalc processdata");
      return this.$store.getters.getProcessedDataset;
    },
    flow() {
      return this.$store.getters.getFlow;
    },
    flowsteps: {
      get() {
        return this.flow.steps;
      },
      set(value) {
        this.$store.commit('updateFlowSteps', { steps: value, flowid: this.flowid });
      }
    },
    datasource() {
      return this.$store.getters.getDatasource
    },
    geojson() {
      let pd = this.$store.getters.getProcessedDataset;

      if(!pd) return null;

      return pd.toGeoJSON();
    },
    isLoading() {
      return this.$store.state.loadingstate;
    },
    isSaving() {
      return this.$store.state.savingstate;
    },
    user() {
      return this.$store.state.user;
    },

  },
  mounted: function () {
    this.$store.dispatch('setDatasourceFlow', {datasource: 'dconv', flow: 'dconv'});
  },
  components: {
    DatatableItem,
    FlowStep,
    MapView,
    VueScrollingTable,
    draggable,
  },
  data: () => {
    return {
      showmenu: false,
    }
  },
  methods: {

    reloadData() {
      this.$store.dispatch('loadInitialData');
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .blur {
    filter: blur(3px);
  }

  .main-grid {

    display: grid;
    grid-template-columns: 1fr 2fr 0.0069420fr;
    grid-template-rows: max-content 3fr 2fr;
    grid-template-areas: "header header header" "processing map input" "processing table input";
  }



</style>
