<template>
  <div class="">

      <l-map
          :zoom="zoom"
          :center="[47.41322, -1.219482]"
          @move="log('move')"
      >
        <l-control-layers />

<l-tile-layer
      v-for="tileProvider in tileProviders"
      :key="tileProvider.name"
      :name="tileProvider.name"
      :visible="tileProvider.visible"
      :url="tileProvider.url"
      :attribution="tileProvider.attribution"
      :subdomains="tileProvider.subdomains"
      :layer-type="tileProvider.layertype"/>

        <l-geo-json :geojson="elements" :options="geoJSONOptions"></l-geo-json>

      </l-map>

  </div>
</template>

<script>

import {
    LMap,
    LIcon,
    LTileLayer,
    LMarker,
    LControlLayers,
    LTooltip,
    LPopup,
    LPolyline,
    LPolygon,
    LRectangle,
    LGeoJson
} from "@vue-leaflet/vue-leaflet";

import "leaflet/dist/leaflet.css";

import {circle, circleMarker, marker} from "leaflet/dist/leaflet-src.esm";


export default {
  name: 'MapView',
  props: {
    elements: Object,
  },
  data: function() {
    return {
      zoom: 2,
      iconWidth: 25,
      iconHeight: 40,
      geoJSONOptions: {},
//////////////////////////////////////////////////
// https://wiki.openstreetmap.org/wiki/Tile_servers || https://www.trailnotes.org/FetchMap/TileServeSource.html || https://deparkes.co.uk/2016/06/10/folium-map-tiles/
//////////////////////////////////////////////////
      tileProviders: [
        {
          name: "Google Street",
          visible: true,
          attribution: "Map data &copy; <a href='http://maps.google.com/'>Google</a>",
          url: "https://mt{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}",
          subdomains: "0123",
	  layertype: "base",
        },
        {
          name: "Google Satellite",
          visible: false,
          attribution: "Map data &copy; <a href='http://maps.google.com/'>Google</a>",
          url: "https://mt{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}",
          subdomains: "0123",
	  layertype: "base",
        },
        {
          name: "Google Hybrid",
          visible: false,
          attribution: "Map data &copy; <a href='http://maps.google.com/'>Google</a>",
          url: "https://mt{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}",
          subdomains: "0123",
	  layertype: "base",
        },
        {
          name: "Google Terrain",
          visible: false,
          attribution: "Map data &copy; <a href='http://maps.google.com/'>Google</a>",
          url: "https://mt{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}",
          subdomains: "0123",
	  layertype: "base",
        },
        {
          name: "OpenStreetMap",
          visible: false,
          attribution: "Map data &copy; <a href='https://www.openstreetmap.org/'>OpenStreetMap</a> contributors, <a href='https://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>",
          url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
	  layertype: "base",
        },
        {
          name: "OpenCycleMap",
          visible: false,
          attribution: 'Maps &copy; <a href="http://www.thunderforest.com">Thunderforest</a>, Data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap contributors</a>',
          url: "http://tile.thunderforest.com/cycle/{z}/{x}/{y}.png",
	  layertype: "base",
        },
        {
          name: "OpenTransportMap",
          visible: false,
          attribution: 'Maps &copy; <a href="http://www.thunderforest.com">Thunderforest</a>, Data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap contributors</a>',
          url: "http://tile.thunderforest.com/transport/{z}/{x}/{y}.png",
	  layertype: "base",
        },
        {
          name: "NASA City Lights",
          visible: false,
          attribution: 'Maps &copy; <a href="https://earthdata.nasa.gov/eosdis/science-system-description/eosdis-components/gibs">NASA Global Imagery Browse Services (GIBS)</a>',
          url: "http://map1.vis.earthdata.nasa.gov/wmts-webmerc/VIIRS_CityLights_2012/default//GoogleMapsCompatible_Level8/{z}/{y}/{x}.jpg",
	  layertype: "base",
        },
        {
          name: "Stamen Watercolour",
          visible: false,
          attribution: '<a id="home-link" target="_top" href="http://maps.stamen.com/">Map tiles</a> by <a target="_top" href="http://stamen.com">Stamen Design</a>, under <a target="_top" href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a target="_top" href="http://openstreetmap.org">OpenStreetMap</a>, under <a target="_top" href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.',
          url: "http://a.tile.stamen.com/watercolor/{z}/{x}/{y}.jpg",
	  layertype: "base",
        },
/////////////////////////////////////////////
        {
          name: "Railway Infrastructure",
          visible: false,
          attribution: 'Maps &copy; <a href="https://www.openrailwaymap.org/">OpenRailwayMap</a>, Data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap contributors</a>',
          url: "http://{s}.tiles.openrailwaymap.org/standard/{z}/{x}/{y}.png",
	  subdomains: "abc",
	  layertype: "overlay",
        },
        {
          name: "Railway Maxspeeds",
          visible: false,
          attribution: 'Maps &copy; <a href="https://www.openrailwaymap.org/">OpenRailwayMap</a>, Data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap contributors</a>',
          url: "http://{s}.tiles.openrailwaymap.org/maxspeed/{z}/{x}/{y}.png",
	  subdomains: "abc",
	  layertype: "overlay",
        },
        {
          name: "Railway Signalling",
          visible: false,
          attribution: 'Maps &copy; <a href="https://www.openrailwaymap.org/">OpenRailwayMap</a>, Data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap contributors</a>',
          url: "http://{s}.tiles.openrailwaymap.org/signals/{z}/{x}/{y}.png",
	  subdomains: "abc",
	  layertype: "overlay",
        },
        {
          name: "Seamarks",
          visible: false,
          attribution: "Map data &copy; <a href='https://www.openseamap.org/'>OpenSeaMap</a>",
          url: "http://tiles.openseamap.org/seamark/{z}/{x}/{y}.png",
	  layertype: "overlay",
        },
      ]
    };
  },
  components: {
    LMap,
    LIcon,
    LTileLayer,
    LMarker,
    LControlLayers,
    LTooltip,
    LPopup,
    LPolyline,
    LPolygon,
    LRectangle,
    LGeoJson,
  },
  computed: {
    iconUrl() {
      return `https://placekitten.com/${this.iconWidth}/${this.iconHeight}`;
    },
    iconSize() {
      return [this.iconWidth, this.iconHeight];
    },


  },
  async beforeMount() {

    this.geoJSONOptions.onEachFeature = this.onEachFeature;
    this.geoJSONOptions.pointToLayer = this.pointToLayer;

    this.geoJSONOptions.style = (feature) => {
      let styleobj = {};
      if(feature.properties.color) { styleobj.color = feature.properties.color; }
      if(feature.properties.weight) { styleobj.weight = feature.properties.weight; }

      return styleobj;
    };
  },
  methods: {
    pointToLayer(feature, latlng) {
      var geojsonMarkerOptions = {
        radius: 8,
        fillColor: "#ff7800",
        color: "#000",
        weight: 1,
        opacity: 1,
        fillOpacity: 0.8
      };

      if(feature.properties && feature.properties.shape && feature.properties.shape === "circle"){
        return circle(latlng, { radius: feature.properties.radius });
      }

      return marker(latlng);

    },
    onEachFeature(feature, layer) {
      if(feature.properties && feature.properties.name) {
        layer.bindPopup(feature.properties.name);
      }
    },
    log(a) {
      console.log(a);
    },
    changeIcon() {
      this.iconWidth += 2;
      if (this.iconWidth > this.iconHeight) {
        this.iconWidth = Math.floor(this.iconHeight / 2);
      }
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>

