<template>
  <div class="">
    <div class="text-center opacity-60 text-sm">
      {{ text }}
    </div>
  </div>
</template>

<script>


export default {
  name: 'ExecutedStep',
  props: {
    executedstep: Object,
  },
  data: function() {
    return {

    };
  },
  components: {

  },
  computed: {
    text() {
      if(!this.executedstep) return "   ";

      return this.executedstep.info[0] ?? this.executedstep.errors[0] ?? "All good";
    }
  },
  methods: {

  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


.tickbefore::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: 50%;
  height: 0.5rem;
  width: 1px;
  background-color: white;
}

</style>
