<template>
  <div class="">
    <div class="font-bold">Plot Marker</div>
    <div>Location: {{ data.position }}</div>
  </div>
</template>

<script>


export default {
  name: 'FlowStepmarker',
  props: {
    data: Object,
  },
  data: function() {
    return {

    };
  },
  components: {

  },
  computed: {

  },
  methods: {

  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
