<template>
  <div class="">
    <div class="font-bold">Split</div>
    Format: {{ data.format }}
  </div>
</template>

<script>


export default {
  name: 'FlowStepsplit',
  props: {
    data: Object,
  },
  data: function() {
    return {

    };
  },
  components: {

  },
  computed: {

  },
  methods: {

  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
