<template>
  <div class="">
    <div class="font-bold">Text to lines</div>
    <div>
      {{ data.newline }}
    </div>
  </div>
</template>

<script>


export default {
  name: 'FlowSteptexttolines',
  props: {
    data: Object,
  },
  data: function() {
    return {

    };
  },
  components: {

  },
  computed: {

  },
  methods: {

  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
