<template>
  <div class="">

    <component :is="stepComponent(step.type)" :data="step"
               class="tickbefore relative m-2 p-2 border rounded-sm dark:bg-gray-700 dark:border-gray-200">

    </component>


    <ExecutedStep class="tickbefore relative" :executedstep="executedstep"></ExecutedStep>


  </div>
</template>

<script>

import components from "@/steps"
import ExecutedStep from "@/steps/ExecutedStep";

export default {
  name: 'FlowStep',
  props: {
    step: Object,
    executedstep: Object,
  },
  data: function() {
    return {

    };
  },
  components: {
    ExecutedStep,
    ...components
  },
  computed: {

  },
  methods: {
    stepComponent(type) {
      return "FlowStep" + type;
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


.tickbefore::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: 50%;
  height: 0.5rem;
  width: 1px;
  background-color: white;
}

</style>
