<template>
  <div class="">
    <div class="font-bold">Plot Line</div>
    <div v-if="data.positions">Per row: {{ data.positions }}</div>
    <div v-if="data.position">Location: {{ data.position }}</div>
    <div>Color: {{ data.color }}</div>
  </div>
</template>

<script>


export default {
  name: 'FlowSteppolyline',
  props: {
    data: Object,
  },
  data: function() {
    return {

    };
  },
  components: {

  },
  computed: {

  },
  methods: {

  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
