<template>
  <div class="">
    <div class="font-bold">Parse</div>
    <table class="dark:text-white">
      <tr>
        <th>Name</th>
        <th>Column IDs</th>
        <th>Type</th>
      </tr>
      <tr v-for="mapping in data.mappings" >
        <td>{{ mapping.name }}</td>
        <td>{{ mapping.column }}</td>
        <td>{{ mapping.type }}</td>
      </tr>
    </table>
  </div>
</template>

<script>


export default {
  name: 'FlowStepparse',
  props: {
    data: Object,
  },
  data: function () {
    return {};
  },
  components: {},
  computed: {},
  methods: {},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
